/* Norse bold font */
@font-face {
  font-family: "Norse Bold";
  src: url("assets/fonts/Norse-Bold.otf") format("woff");
}

/* All global custom-properties */
/* ls = left side */
/* rs = right side */
:root {
  /* Colors */
  --ls-font-color: #fff;
  --ls-logo-bg-color: #00000089;
  --rs-bg-color: #f9fafb;
  --btn-color: #596D48;
  --btn-hover-color: #596D48;
  --input-border-color: #E5E7EB;
  --input-invalid-border-colod: rgb(182, 18, 18);

  --box-shadow-color: #888;
  /* Units */
  --img-sidebar-w: 35vw;
  --main-sidebar-pad: 2rem;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* Left sidebar */
.image-sidebar {
  position: relative;
  background: url("assets/images/green-leaf-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: var(--img-sidebar-w);
}

.logo-sidebar {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  color: var(--ls-font-color);
  font-size: 2.3rem;
  font-family: "Norse Bold";
  background-color: var(--ls-logo-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo-sidebar img {
  width: 70px;
}

/* Right sidebar */
.main-container {
  background-color: var(--rs-bg-color);
  width: calc(100vw - var(--img-sidebar-w));
}

.main-container header {
  font-size: 0.6rem;
  padding: 4rem var(--main-sidebar-pad) 1.5rem;
}

.form-container {
  color: #1f2937;
  width: 100%;
  height: 41vh;
  background-color: white;
  box-shadow: 0 1px 10px 1px var(--box-shadow-color);
  padding: 0.7rem 2rem;
}

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 5rem;
  row-gap: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.option-container {
  padding: var(--main-sidebar-pad);
}

button {
  background-color: var(--btn-color);
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 3px var(--box-shadow-color);
}

label {
  font-size: 0.7rem;
  font-weight: bold;
}

div:has(input:required) > label::after {
  content: " *";
}

input {
  padding: 0.3rem;
  border: 1px solid  var(--input-border-color);
  font-size: 1rem;
  width: 300px;
  border-radius: 0.2rem;
}

input:focus {
  box-shadow: 0 3px 3px var(--box-shadow-color);
  outline: none;
}

.invalid {
  border: 1px solid var(--input-invalid-border-colod);
}

.error::after {
  content: "* Passwords do not match";
  font-size: 0.8rem;
  color: var(--input-invalid-border-colod);
}

a {
  color: var(--btn-color);
  font-weight: bold;
  text-decoration: none;
}